<body>

    <h2>
        <%= @basket %>
    </h2>

    <div class = "row">
    </div>   

    <h3>
        <%= @basket_products[0][:id] %>
    </h3>


    <h2>
    <%=  @basket.find{|y| y["product_id"] == @basket_products[0][:id]}["order_quantity"]%>
    </h2>

    <% for products in @basket_products %>
    
    <% quantity = @basket.find{|y| y["product_id"].to_i == products[:id]}.to_h["order_quantity"] %>
        <h1>
        <%= quantity %>
        <%=(products[:price] * quantity.to_i) %>
  
        </h1>
    <%end%>
    
</body>