<div class = "container">
  <div class="container">
        <nav>
                <ul class="navbar-right">
                <lin class = "check-cart"><a href="#" id="cart"><i class="fas fa-glasses"></i> Look at your cart </a></li>
                </ul> <!--end navbar-right -->
        </div> <!--end container -->
        </nav>


    <!-- Shopping cart begins -->

    <div class="container-cart">
        <div class="shopping-cart" style="display: none;">
            <div class="shopping-cart-header">
                <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">#</span>
                <div class="shopping-cart-total">
                    <span class="lighter-text">Total:</span>
                    <span class="main-color-text">$<%="%.2f" % @sub_total%></span>
                </div>
            </div> <!--end shopping-cart-header -->

            <ul class="shopping-cart-items">

                <% for products in @basket_products %>
                <% quantity = @basket.find{|y| y[:product_id] == products[:id]}[:order_quantity]%>

            <li class="clearfix">
                <img src="../<%=products[:image]%>" alt="item1" class ="product-thumbnail" />
                <span class="item-name"><%=products[:name]%></span>
                <span class="item-price">$<%= "%.2f" %  (products[:price] * quantity) %></span>
                <span class="item-quantity">Quantity: <%= quantity %></span>
            </li>
            <% end %>
            </ul>
        </div> <!--end shopping-cart -->
    </div> <!--end container -->
</div>
    
<div class = "container" id="restOf">

    <div class="buttonSpacer order">
        <a class="back text-center" href='/categories'> Back to all categories </a>
    </div>

    <div class= "row products-row">

    <% for products in @products %>
    <% if defined?(@basket.find{|y| y[:product_id] == products[:id]}[:order_quantity]) == nil %>
    <% quantity = 0 %>
    <% else %>
    <% quantity = @basket.find{|y| y[:product_id] == products[:id]}[:order_quantity] %>
    <% end %>

    <div class = "col-md-3">      
            <div class="wrapper">
                <div class="product-img">
                    <img src="../<%=products[:image]%>" height="195" width="180">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1><%=products[:name]%></h1>
                        <h2><%=products[:amount]%> </h2>
                         <h5>$<span><%="%.2f" % products[:price]%></span></h5>
                    </div>
                    <div class="product-price-btn d-flex">
                    <p type="text" min="0" class="form-control add-to-cart mr-auto" name="quantity" data-quantity="<%= quantity %>" id="<%=products[:id]%>_quantity">
                    <%= quantity %>
                    </p>
                        <button type="button" class="add_basket mr-2" onclick = "addQuantity(this.dataset.id)" name="add" data-id="<%= products[:id]%>"> + </button>
                        <button type="button" class="add_basket mr-3" onclick = "subQuantity(this.dataset.id)"name="subtract" data-id="<%= products[:id]%>"> — </button>
                    </div>
                </div>
            </div>
    </div>
<% end %>

</div>

<!-- Javascript -->

<script>
   
    function addFormattingAll (){
    var quantity = $(this).attr('data-quantity');
    if(quantity > 0){
         $(this).addClass("inCart")
     }
    };
   
    function subFormatting (){
         document.getElementById(id_quantity).setAttribute('class',"form-control add-to-cart mr-auto");
     };

    function addFormatting (){
         document.getElementById(id_quantity).setAttribute('class',"form-control add-to-cart mr-auto inCart");
     };

   
   $('p').each(addFormattingAll);
    
    function sendQuantity(){
        $.ajax({
            type: "post",
            url: "/basket",
            data: { product_id: id, order_quantity: current_quantity},
            success: function(){
                console.log("success")
            },
            error: function(){
                console.log(arguments);
            }
        });
        console.log(current_quantity, id_quantity);
    }
   
    function setVariables(dataId){
        id = parseInt(dataId, 10)
        id_quantity = ''.concat(id, "_quantity");
        current_quantity = parseInt(document.getElementById(id_quantity).innerHTML, 10);
    }

    function updateInput(){
        document.getElementById(id_quantity).innerHTML = current_quantity; 
    }

    function addQuantity(dataId){
            setVariables(dataId);
            current_quantity++;
            if (current_quantity > 2) {current_quantity=2};
            updateInput(); 
            sendQuantity();
            addFormatting();
        };

    function subQuantity(dataId){
            setVariables(dataId);
            current_quantity--;
            if (current_quantity < 0) {current_quantity=0};
            updateInput(); 
            sendQuantity();
            console.log(current_quantity);
            if (current_quantity == 0) {subFormatting()};
        };
</script>


<!-- Cart -->

<script>



 $('body').click(
    function (evt) { 
        console.log(evt.target.id)
         if(evt.target.id == "cart") {
        $(".shopping-cart").fadeIn('fast')}
        else{
        $(".shopping-cart").fadeOut('fast')};
  });
  

</script>